@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.bg-image{
  background-image: url("../../public/andres_bonilla_graffiti_style_car_workshop_with_a_porsche_7263e29e-8ac4-41f3-a30f-3a3f8071dae4.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}


.img-bugatti{
  position: absolute;
  width: 5rem;
  height: 5rem;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
}

.zoom-one{
  position: absolute;
  width: 5rem;
  height: 5rem;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  transition: all 5000ms;
  transform: scale(100);
}

.zoom-two{
  position: absolute;
  width: 5rem;
  height: 5rem;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  transition: all 800ms;
  transform: scale(900);
}

.default-opacity{
  opacity: 0;
  position: absolute;
  width: 5rem;
  height: 5rem;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  transform: scale(0);
}

.menu-not-opened{
  display: none;
}

.container-bugatti-opened{
  display: block;
}

.menu-opened{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
  position: absolute;
  top: 0;
  width: 100%;
}