@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.bg-image{
  background-image: url("../../public/andres_bonilla_graffiti_style_car_workshop_with_a_porsche_7263e29e-8ac4-41f3-a30f-3a3f8071dae4.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
